html,
body {
  height: 100%;
  background-color: white !important;
  color: black !important;
  padding: 1px;
  display: flex;
  flex-direction: column;
}
del,
ins {
  vertical-align: baseline !important;
}

footer {
  position: sticky;
  bottom: 0;
  text-align: right;
  padding: 0.3em;
  background-color: white !important;
  margin-top: auto;
  z-index: 1;
  font-size: smaller;
}

/* tweaks of diff2html CSS */

.d2h-code-line-ctn {
  vertical-align: baseline !important;
}

.d2h-code-line-prefix {
  vertical-align: top;
}

.d2h-file-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* workaround until https://github.com/rtfpessoa/diff2html/pull/445 is merged */
.d2h-d-none {
  display: none !important;
}
