:root {
  /* Light theme */
  --diff-viewer--background--light: white;
  --diff-viewer--foreground--light: black;
  --diff-viewer--border--light: #eee;
  --diff-viewer--primary--light: #2196f3;
  --diff-viewer--secondary--light: #b23c17;
  --diff-viewer--selection--light: #e3f2fd;
  --diff-viewer--highlight--light: #e0e0e0;

  /* Dark theme */
  --diff-viewer--background--dark: black;
  --diff-viewer--foreground--dark: white;
  --diff-viewer--border--dark: #333;
  --diff-viewer--primary--dark: #466b92;
  --diff-viewer--secondary--dark: #cc997f;
  --diff-viewer--selection--dark: #a3b7c9;
  --diff-viewer--highlight--dark: #808080;

  /* Default theme */
  --diff-viewer--background: var(--vscode-editor-background);
  --diff-viewer--foreground: var(--vscode-editor-foreground);
}

html,
body {
  height: 100%;
  background-color: var(--diff-viewer--background) !important;
  color: var(--diff-viewer--foreground) !important;
  padding: 1px;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable;
}

body * {
  font-size: var(--vscode-editor-font-size);
  line-height: 1.4;
}

body footer {
  position: sticky;
  bottom: 0px;
  padding: 6px 8px 4px 8px;
  border-top: 1px solid var(--diff-viewer--border);
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--diff-viewer--background) !important;
  z-index: 1;
}

#viewed-indicator {
  font-size: smaller;
  margin-right: 8px;
}

#viewed-progress-container {
  height: 12px;
  width: 128px;
  margin-right: 8px;
  border-radius: 3px;
  background: var(--diff-viewer--highlight);
}

#viewed-progress {
  height: 100%;
  width: 0;
  border-radius: 3px;
  background: var(--diff-viewer--primary);
  transition: width 0.4s ease;
}

#mark-all-viewed-container {
  user-select: none;
  display: flex;
  align-items: center;
  border: 1px solid var(--diff-viewer--border);
  border-radius: 3px;
  cursor: pointer;
  font-size: smaller;
  justify-content: flex-end;
  padding: 2px 6px;
}

.selected {
  background-color: var(--diff-viewer--selection);
}

/* showing "Changed since last view" message */
label.d2h-file-collapse {
  position: relative;
}

body input.changed-since-last-view:before {
  content: "Changed since last view";
  white-space: pre;
  position: absolute;
  bottom: 100%;
  right: -0.5em;
  padding: 0.25em 0.5em;
  border-radius: 1em;
  border: solid thin var(--diff-viewer--secondary);
  background: var(--diff-viewer--background);
  color: var(--diff-viewer--secondary);
  font-size: 90%;
}

#loading-container,
#empty-message-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: var(--diff-viewer--background);
  z-index: 99;
  text-align: center;
}

#loading-container > span,
#empty-message-container > span {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 100;
}

#loading-container > span {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
