del,
ins {
  vertical-align: baseline !important;
}

.d2h-code-line-ctn {
  vertical-align: baseline !important;
}

.d2h-code-line-prefix {
  vertical-align: top;
}

.d2h-file-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* only show line numbers as clickable when they apply to the newer file */
.d2h-code-linenumber.d2h-del,
.d2h-code-linenumber.d2h-info,
.d2h-code-linenumber.d2h-code-side-emptyplaceholder,
.d2h-code-linenumber.d2h-emptyplaceholder,
.d2h-code-side-linenumber.d2h-del,
.d2h-code-side-linenumber.d2h-info,
.d2h-code-side-linenumber.d2h-code-side-emptyplaceholder,
.d2h-code-side-linenumber.d2h-emptyplaceholder,
.d2h-file-side-diff:first-child .d2h-code-side-linenumber {
  cursor: default;
}

/* show file names as clickable */
.d2h-file-name {
  cursor: pointer;
}

.d2h-diff-table {
  font-family: var(--vscode-editor-font-family);
}

.d2h-dark-color-scheme .d2h-ins {
  background-color: #153f27;
}

.d2h-dark-color-scheme .d2h-del {
  background-color: #3a1d20;
}

.d2h-dark-color-scheme .d2h-info {
  background-color: #162844;
}

.d2h-dark-color-scheme .d2h-file-diff .d2h-ins.d2h-change {
  background-color: #1c512a;
}

.d2h-dark-color-scheme .d2h-file-diff .d2h-del.d2h-change {
  background-color: #543f1b;
}
