name: "Less is more"

on:
  pull_request:
    branches: ["**"]

concurrency:
  group: less-is-more-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: "Setup environment"
        uses: ./.github/actions/setup-env

      - name: "Build and Pack"
        run: npm run build:prod && npm run pack:extension

      - name: "Less is more"
        uses: caponetto/less-is-more@v1
        with:
          released_artifact_name: vscode_diff_viewer
          artifact_path: "**/vscode_diff_viewer_*.vsix"
          max_increase_percentage: 10
          github_token: ${{ secrets.BASIC_TOKEN }}
          fail_execution: false
