name: "Release"

on:
  release:
    types: [ created ]

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.2.2
        env:
          GITHUB_TOKEN: ${{ secrets.BASIC_TOKEN }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ steps.get_release.outputs.tag_name }}

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Setup Yarn
        run: npm install -g yarn@1.22.5

      - name: Build
        run: yarn install && yarn run prod

      - name: Upload VS Code extension
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.BASIC_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./dist/vscode_diff_viewer_${{ steps.get_release.outputs.tag_name }}.vsix
          asset_name: vscode_diff_viewer_${{ steps.get_release.outputs.tag_name }}.vsix
          asset_content_type: application/octet-stream

      - name: "Publish :: VS Code Marketplace"
        run: |
          npm install -g vsce
          vsce publish -p ${{ secrets.VSCODE_MP_TOKEN }} --packagePath ./dist/vscode_diff_viewer_${{ steps.get_release.outputs.tag_name }}.vsix

      - name: "Publish :: Open VSX Registry"
        run: |
          npm install -g ovsx
          ovsx publish -p ${{ secrets.OPEN_VSX_TOKEN }} ./dist/vscode_diff_viewer_${{ steps.get_release.outputs.tag_name }}.vsix
