name: "Release"

on:
  release:
    types: [published]

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
      - name: "Get release"
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.BASIC_TOKEN }}

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ steps.get_release.outputs.tag_name }}

      - name: "Setup environment"
        uses: ./.github/actions/setup-env

      - name: "Build and Pack"
        run: yarn build:prod && yarn pack:extension

      - name: "Publish :: VS Code Marketplace"
        run: |
          npm install -g vsce
          vsce publish -p ${{ secrets.VSCODE_MP_TOKEN }} --packagePath ./dist/vscode_diff_viewer_${{ steps.get_release.outputs.tag_name }}.vsix

      - name: "Publish :: Open VSX Registry"
        run: |
          npm install -g ovsx
          ovsx publish -p ${{ secrets.OPEN_VSX_TOKEN }} ./dist/vscode_diff_viewer_${{ steps.get_release.outputs.tag_name }}.vsix
